<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<appSettings>
		<add key="logPath" value="./logdata.xlsx"/>
		<add key="interval" value="1000"/>
		<add key="pidPort" value="COM11"/>
		<add key="modulePort" value="COM12"/>
		<add key="minTap" value="2560"/>
	</appSettings>
</configuration>